.projects {
  margin: 2% auto;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.projects a {
  text-decoration: none;
  font-family: 'Nunito', sans-serif;
  font-size: 0.85em;
  color: rgb(85, 85, 85);
}

.projects a:hover {
  text-decoration: none;
  color: rgb(182, 182, 182);
}

.projects a:active {
  text-decoration: none;
  color: rgb(85, 85, 85);
}

img {
  border-radius: 5px;
  margin: 0 auto 5% auto;
  width: 75%;
}

@media (max-width: 1370px) {
  img {
    width: 85%;
  }

  h2 {
    font-size: 1.3em;
  }
}

@media (min-width: 1025px) {
  .vertical {
    display: none;
  }
}

@media (max-width: 1024px) {
  .horizontal {
    display: none;
  }
}

@media (max-width: 770px) {
  img {
    width: 85%;
  }

  h2 {
    font-size: 1.1em;
  }
}