.projects {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.projects a {
  text-decoration: none;
  font-family: 'Nunito', sans-serif;
  font-size: 25px;
  color: rgb(85, 85, 85);
}

.projects a:hover {
  text-decoration: none;
  color: rgb(182, 182, 182);
}

.projects a:active {
  text-decoration: none;
  color: rgb(85, 85, 85);
}

img {
  border-radius: 5px;
  margin: 0 auto 5% auto;
  width: 65%;
}