@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Chettan+2:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');

body {
  background-color: rgb(241, 241, 241);
  color: rgb(85, 85, 85);
}

header {
  margin: 3% auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  margin: 0 auto;
  font-family: 'Baloo Chettan 2', cursive;
  font-size: 50px;
}

nav {
  display: flex;
  justify-content: center;
}

a {
  margin: 20px 30px;
  text-decoration: none;
  font-family: 'Nunito', sans-serif;
  color: rgb(85, 85, 85);
}

a:hover {
  text-decoration: none;
  color: rgb(182, 182, 182);
}

a:active {
  text-decoration: none;
  color: rgb(85, 85, 85);
}

h2 {
  font-family: 'Baloo Chettan 2', cursive;
  font-size: 30px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: 30px;
}

p, li {
  font-family: 'Nunito', sans-serif;
}

.about-container {
  display: flex;
  justify-content: center;
  margin: 4% auto;
}

.avatar {
  margin: 0 1.5%;
  display: flex;
  justify-content: center;
}

.avatar img {
  width: 450px;
}

.about {
  margin: 0 1.5%;
  width: 400px;
}

.skills {
  margin: 0 1.5%;
  width: 450px;
}
