@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@700&display=swap');

body {
  display: flex;
  flex-direction: column;
  background-color: rgb(241, 241, 241);
}

header {
  display: flex;
  justify-content: center;
}

h1 {
  font-family: 'Kalam', cursive;
  color: rgb(61, 61, 61);
}

.avatar {
  margin: 5%;
  height: 400px;
}